html {
  padding: 15 15 15 15;
  overflow-y: hidden;
}

p {
  font-size: 0.8em;
}

hr {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 0 0;
}

#status {
  visibility: hidden;
  width: 100%;
  padding: 0 0 0 0;
  background-color: #32CD32;
  color: #fff;
}
